* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.custom_container {
    max-width: 1216px !important;
    padding-right: 12px !important;
    padding-left: 12px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

/* common components */
.c_pointer {
    cursor: pointer;
}
.z_index_nav{
    z-index: 500 !important;
}
.transition_3 {
    transition: all 300ms linear;
}
.overflow_hidden{
    overflow: hidden;
}
.common_btn {
    transition: all 0.3s linear;
    border: 1px solid var(--color-007) !important;
    border-radius: 8px;
    padding: 9px 18px 10px 18px;
    box-shadow: 0px 6px 16px -4px rgba(16, 24, 40, 0.08);
    line-height: 22px;
}

.common_btn:focus,
.common_btn:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 0.7em transparent;
    color: var(--color-007);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--color-007);
    }
}

.br_15 {
    border-radius: 15px;
}

.mt_52 {
    margin-top: 52px;
}

.grid_commom {
    font-size: 14px;
    border-radius: 16px;
    background: rgba(255, 170, 46, 0.10);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding-left: 10px;
    padding-right: 10px;
    line-height: 19px;
}

.boxLeveraging {
    background-color: rgba(0, 0, 0, 0.60);
    bottom: 20px;
    width: 100%;
    transition: all 300ms linear;
}

.hover_black:hover .boxLeveraging {
    background: #000;
}

.p_32 {
    padding: 32px;
}


/* background color */
.bg_hero {
    background: linear-gradient(360deg, #FFF 21.38%, #E8F1FF 99.15%);
}

ul li {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.gap_20 {
    gap: 20px;
}

.successimg {
    border-radius: 13px;

}

.gap_15 {
    gap: 15px;
}

/* nav bar */
.nav_link_downline::after {
    content: "";
    background: var(--color-007);
    width: 0;
    left: 50%;
    bottom: 6px;
    position: absolute;
    height: 2px;
    transition: all 300ms linear;
}

.nav_link_downline:hover::after {
    width: 82%;
    left: 7px;
}

.Support_border {
    border: 2px solid transparent;
    border-radius: 8px;
}
.Support_border {
    transition: all 0.3s linear;
    border: 1px solid transparent !important;
    border-radius: 8px;
    padding: 9px 18px 10px 18px;
    line-height: 22px;
}

.Support_border:focus,
.Support_border:hover {
    -webkit-animation: Support_border 1s;
    animation: Support_border 1s;
    box-shadow: 0 0 0 0.7em transparent;
}

@keyframes Support_border {
    0% {
        box-shadow: 0 0 0 0 var(--color-007);
    }
}

.navbar-scroll {
    background-color: white !important; 
    opacity: 1 !important;
}

.bg_color_navbar{
    background-color: #EAF3EF !important;
}
.show{
    background-color: white !important;
    margin-left: -12px !important;
    margin-right: -12px !important;
    margin-bottom: -12px !important;
    margin-top: 10px !important;
}
/* hero section */
.hero_pera {
    max-width: 450px;
}
.hero_two_car {
    background-color: #FF0879;
    width: 20px;
    padding: 5px;
    height: 20px;
    left: -11px;
    bottom: -1px;
    border-radius: 500%;
    -webkit-animation: pulsecar 2s infinite;
    animation: pulsecar 2s infinite;
    box-shadow: 0 0 0 1.5em transparent;
}

@keyframes pulsecar {
    0% {
        box-shadow: 0 0 0 4px #FF0879;
    }
}

.hero-mobile-one-female{
    top: 8px;
    left: -52px;
    width: 45%;
}
.w_180px{
    width: 180px;
}
.hero-mobile-one-svg{
    bottom:4px ;
    left: -10px;
}
.hero-mobile-one-total-img{
    top: 55%;
    left: -81px;
    width: 132px;
    border-radius:8px ;

}
.hero-small-nav-bar-hero{
top: -5px;
right: -5px;
}

.small_nav_full_box{
    bottom: -61px;
    right: -55px;
}

.mobile-two-top-right-female{
top: -5px;
right: -15px;
}
.hero-mobile-two-svg{
top: 38%;
left: -25px;
width: 50px;
}
.mobile-two-male{
    bottom: 36px;
    right: -32px;
    width: 152px;
}
.herorightcircel{
top: 15%;
}
.herorightcircel_two{
bottom: 15%;
}
.hero-bg-circel{
    top: 15%;
    right: 5%;
}
.hero_finger_print{
    bottom:-36%;
    right: 0;
    width: 80px;
}
.hero_finger_printtwo{
    top:10%;
    right: -50px;
}

/* Route Optimization */
.Route_Optimization {
    border: 3px solid var(--color-007);

}

.Route_Optimization:hover {
    box-shadow: 0px 1px 14px -3px var(--color-007);
}

.Dashboards {
    border: 3px solid var(--color-FFA);
}

.Dashboards:hover {
    box-shadow: 0px 1px 14px -3px var(--color-FFA);
}

.Notification {
    border: 3px solid var(--color-FF7);
}

.Notification:hover {
    box-shadow: 0px 1px 14px -3px var(--color-FF7);
}

.Unlimited {
    border: 3px solid #0A3265;
}

.Unlimited:hover {
    box-shadow: 0px 1px 14px -3px #0A3265;
}

.Sales {
    border: 3px solid #5B67EF;
}

.Sales:hover {
    box-shadow: 0px 1px 14px -3px #5B67EF;
}

.Tasks {
    border: 3px solid #00CDB4;
}

.Tasks:hover {
    box-shadow: 0px 1px 14px -3px #00CDB4;
}

.Reporting {
    border: 3px solid #00A7FB;
}

.Reporting:hover {
    box-shadow: 0px 1px 14px -3px #00A7FB;
}

.Learning {
    border: 3px solid #FF0879;
}

.Learning:hover {
    box-shadow: 0px 1px 14px -3px #FF0879;
}

.route {
    border-radius: 15px;
    background: #FFF;
    max-width: 305px;
}

.bg_big_mobile {
    background-image: url("../img/svg/big-mobile-circel.svg");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
}















/* Why You’ll Love Us */

.LoveUs {
    letter-spacing: 0.45px;
}

.love_pera {
    line-height: 22px;
    letter-spacing: 0.14px;
    opacity: 0.9;
}

.love_job_pera {
    opacity: 0.7;
}

.Sharon {
    border-radius: 80px;
    border: 7px solid var(--color-white);
    box-shadow: 0px 0px 0px 0px rgba(136, 154, 205, 0.10), 0px 3px 8px 0px rgba(136, 154, 205, 0.10), 0px 14px 14px 0px rgba(136, 154, 205, 0.09), 0px 31px 19px 0px rgba(136, 154, 205, 0.05), 0px 55px 22px 0px rgba(136, 154, 205, 0.01), 0px 86px 24px 0px rgba(136, 154, 205, 0.00);
    width: 80px;
    margin-bottom: 32px;
}

.box_love {
    padding: 32px;
    border-radius: 15px;
    background: var(--color-white);
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    transition: all 300ms linear;
    cursor: pointer;
}


.box_loveone {
    border-bottom: 8px solid #00A7FB;

}

.box_loveone:hover {
    border-top: 2px solid #00A7FB;
    border-left: 2px solid #00A7FB;
    border-right: 2px solid #00A7FB;
}

.box_lovetwo {
    border-bottom: 8px solid #00CDB4;
}

.box_lovetwo:hover {
    border-top: 2px solid #00CDB4;
    border-left: 2px solid #00CDB4;
    border-right: 2px solid #00CDB4;
}

.box_lovethree {
    border-bottom: 8px solid #FF713E;
}

.box_lovethree:hover {
    border-top: 2px solid #FF713E;
    border-left: 2px solid #FF713E;
    border-right: 2px solid #FF713E;
}


/* How We Can Help You */
.help_box {
    border-radius: 15px;
    background: var(--color-007);
    padding-right: 126px;
    max-width: 500px;
    width: 100%;
    min-height: 250px;
    width: 100%;
}

.help_box_one {
    background-image: url("../img/png/help-box-one.png");
    background-position: left;
    background-repeat: no-repeat;
}

.help_box_two {
    background-image: url("../img/png/Help_box_two_bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

.help_box_three {
    background-image: url("../img/png/help-box-threr-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.help_para {
    max-width: 230px;
}

.Managers-phone {
    right: 10%;
}

.box-three-down {
    right: 2%;
}

/*  */
.bg_help {
    background: linear-gradient(119deg, #F9FBFF 10.05%, #F1F7FF 91.13%);
}



/* Empowering Success */
.Empowering_pera {
    line-height: 24px;
    letter-spacing: 0.16px;
}

.card_real_time {
    transition: all 300ms linear;
    border: 1px solid white;
}

.card_real_time:hover {
    border-radius: 15px;
    background: #edeff1;
    border: 1px solid #a7acb4;
}








/* Articles & Resources */

.grid_gap_20 {
    gap: 20px;
}

.gridone {
    grid-row: 1/3;
    grid-column: 1/2;
}

.gridtwo {
    grid-row: 3/4;
    grid-column: 1/2;
}

.gridthree {
    grid-row: 4/5;
    grid-column: 1/2;
}

.gridfour {
    grid-row: 5/6;
    grid-column: 1/2;
}

.gridfive {
    grid-row: 6/7;
    grid-column: 1/2;
}

.Research {
    border: 1px solid var(--color-FFA);
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all 0.3s linear;
    border-radius: 16px;
}


.Research:focus,
.Research:hover {
    -webkit-animation: pulseResearch 1s;
    animation: pulseResearch 1s;
    box-shadow: 0 0 0 0.7em transparent;
    color: var(--color-007);
}

@keyframes pulseResearch {
    0% {
        box-shadow: 0 0 0 0 var(--color-FFA);
    }
}

.lms {
    border: 1px solid var(--color-FF7);
    padding-top: 2px;
    padding-bottom: 2px;
}

.lms:focus,
.lms:hover {
    -webkit-animation: pulselms 1s;
    animation: pulselms 1s;
    box-shadow: 0 0 0 0.7em transparent;
    color: var(--color-007);
}

@keyframes pulselms {
    0% {
        box-shadow: 0 0 0 0 var(--color-FF7);
    }
}

.ResearchBlue {
    border: 1px solid var(--color-007);
    padding-top: 2px;
    padding-bottom: 2px;
}

.ResearchBlue:focus,
.ResearchBlue:hover {
    -webkit-animation: pulseResearchBlue 1s;
    animation: pulseResearchBlue 1s;
    box-shadow: 0 0 0 0.7em transparent;
    color: var(--color-007);
}

@keyframes pulseResearchBlue {
    0% {
        box-shadow: 0 0 0 0 var(--color-007);
    }
}



/* footer */
footer ul li {
    color: var(--copy-header, #202020);
    /* Footer Header */
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.25px;
    align-items: start;
    flex-wrap: wrap;
}

footer ul li a {
    color: var(--copy-text, #475467);
    /* Text Header (Medium) */
    font-family: Inter;
    font-size: 14px;
    align-items: start;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: 0.14px;
    margin-top: 10px;
    transition: all 200ms linear;
}

footer ul li a:hover {
    color: var(--color-007);
}

footer ul li {
    display: flex;
    justify-content: start !important;
}

.border_top {
    border-top: 1px solid var(--colours-line-outline-grey, #C0C4CA);
    border-bottom: 1px solid var(--colours-line-outline-grey, #C0C4CA);
}

.link_hover:hover {
    color: #00A7FB !important;
}

.footer_lover_link_line::before {
    content: "";
    background-color: #C0C4CA;
    height: 22px;
    width: 2px;
    position: absolute;
    top: 0px;
    right: -13px;
}

.Feature_add {
    border-radius: 8px;
    border: 1px solid var(--color-007);
    background: rgba(0, 122, 255, 0.10);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.icon_hover {
    transition: all 200ms linear;
}

.icon_hover:hover {
    transform: translateY(-5px) !important;
}
/* back to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 45px;
    border: none;
    outline: none;
    color: white;
    border-radius: 100%;
  }
  
  #myBtn:hover {
    box-shadow:0px 4px 20px #00CDB4;
  }
  

/* Styles for the preloader */
#preloader {
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index:600 !important;
}

/* Styles for the loading scale */
.loader {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: scale(1.1); }
    25% {transform: scale(1.8); }
    50% { transform: scale(1.5);}
    75% { transform: scale(1.8);}
    100% {transform: scale(1.1); }
}

/* Styles for the content */
.content {
    display: none;
}

@media (min-width:575.9px) {
    .successimg {
        border-radius: 25px;
    }

    .gap_sm_20 {
        gap: 20px;
    }

    .grid_gap_20 {
        gap: 20px;
    }

    .gridone {
        grid-row: 1/3;
        grid-column: 1/3;
    }

    .gridtwo {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .gridthree {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .gridfour {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .gridfive {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .hero-mobile-one-total-img {
        left: -64px;
    }
    .w_160px{
        width: 160px !important;
    }
    .mobile_two_set{
        transform: translateX(-13px);
    }
    .mobile-two-male-sm {
        bottom: 46px;
        right: -19px;
        width: 137px;
    }
    .herorightcircel {
        top: 30%;
    }
    .herorightcircel_two {
        bottom: -6%;
    }
}

@media (min-width:767.9px) {

    .Support::before {
        content: "";
        background-color: #C0C4CA;
        height: 22px;
        width: 2px;
        position: absolute;
        top: 8px;
        right: -15px;
    }


    .grid_gap_20 {
        gap: 20px;
    }

    .gridone {
        grid-row: 1/3;
        grid-column: 1/3;
    }

    .gridtwo {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .gridthree {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .gridfour {
        grid-row: 3/4;
        grid-column: 1/2;
        transform: translateX(70px);
    }

    .gridfive {
        grid-row: 3/4;
        grid-column: 3/4;
        transform: translateX(-70px);
    }
}

@media (min-width:991.9px) {

    /* before */

    .grid_gap_20 {
        gap: 20px;
    }

    .gridone {
        grid-row: 1/3;
        grid-column: 1/3;
    }

    .gridtwo {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .gridthree {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .gridfour {
        grid-row: 1/2;
        grid-column: 4/5;
        transform: unset;
    }

    .gridfive {
        grid-row: 2/3;
        grid-column: 4/5;
        transform: unset;
    }

    .herorightcircel {
        top: 56% !important;
    }
    .mobile_one_set{
transform: translateX(30px);
    }
    .mobile_two_set{
transform: translateX(-30px);
    }
    .mobile-two-male{
        right: 0px !important;
    }
}

@media (min-width:1200px) {
    .bg_big_mobile {
        background-size: 62% !important;
    }
    .mobile_one_set{
        transform:unset;
            }
            .mobile_two_set{
        transform: unset;
            }
            .w_220px{
                width: 220px !important;
            }
            .mobile-two-male {
                bottom: 42px;
                right: -27px;
                width: 173px;}
}

@media (min-width:1400px) {
    .bg_big_mobile {
        background-size: 55% !important;
    }
}









